@keyframes a {
    0% {
        background-position: var(--animY)0
    }

    to {
        background-position: var(--animY) var(--scrollAnim)
    }
}

:root {
    //--bgImg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Cpath d='M1 2V0h1v1H0v1z' fill-opacity='.05'/%3E%3C/svg%3E");
    --bgImg: url(/images/newLayout/bg.svg);
    --c-black01: #000;
    --c-black02: #020302;
    --c-gray01: #181818;
    --c-gray02: #242529;
    --c-gray03: #292b2f;
    --c-gray04: #2c2c30;
    --c-gray05: #36373a;
    --c-green01: #315526;
    --c-green02: #3c8025;
    --c-green03: #87b169;
    --c-green04: #c2cdbb;
    --c-red01: #9a2720;
    --c-red02: #ff3c41;
    --c-orange01: #ff5b32;
    --c-yellow01: #fcd000;
    --c-white01: #fff;
    --animY: calc(50vw - 245px);
    --scrollAnim: 94%;
    --animTime: 30s
}

@font-face {
    font-family: koubit001;
    src: url(/images/newLayout/koubit001.woff2)
}

#spacer {
    margin: auto!important;
    position: relative
}

#spacer2 {
    position: relative;
    width: 83.33333vw!important
}

#logo {
    padding: .3rem;
    width: 3rem
}

.logoEditor,.logoPlayer,.logoRTP,.logoText {
    font-family: koubit001;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    height: 2.5rem;
    line-height: 1rem;
    text-shadow: 1px 1px #000c
}

@media only screen and (max-width:900px) {
    .middleSection p a {
        font-size: x-small
    }

    #topBar #logo {
        padding: .3rem;
        width: 2rem
    }

    #topBar .logoText,#topC input {
        display: none
    }

    #topB * {
        padding: 0 .5vw!important
    }
}

@media (min-width:1000px) {
    body {
        overflow-x: clip;
        transform: scale(1.19);
        transform-origin: top center
    }

    #mainBlock3 .a {
        width: calc(100vw - 530px)!important
    }
}

.logoText:before,body {
    color: var(--c-green04);
    overflow-x: hidden
}

.logoText:before {
    content: "EASY";
    overflow: hidden
}

.logoRTP:before {
    color: var(--c-yellow01);
    content: "OPEN";
    margin-right: .2rem
}

.logoRTP:after {
    color: var(--c-white01);
    content: "RTP"
}

.logoText:after {
    color: var(--c-green03);
    content: "RPG"
}

.logoEditor:before,.logoPlayer:before {
    content: " ";
    font-size: 1rem
}

.logoEditor:after {
    color: var(--c-white01);
    content: "EDITOR"
}

.logoPlayer:after {
    content: "PLAYER"
}

body {
    background-color: var(--c-gray03)!important;
    background-image: var(--bgImg);
    background-size: 32px;
    height: 100vh
}

.logoPlayer:after,a {
    color: var(--c-white01)
}

#topBar,#topBar * {
    align-items: center;
    display: flex;
    z-index: 5
}

*,:after,:before {
    box-sizing: border-box
}

#topBar,.mainSubMenu .menuItems a:hover,.middleSection .container {
    background-color: var(--c-gray01)!important
}

#topBar,#topBar * {
    height: 3.25rem;
    margin: 0
}

#topBar {
    padding: 0;
    position: relative;
    width: 100vw
}

#topBar * {
    color: var(--c-green04)
}

#topB {
    font-size: small;
    margin: auto
}

#topB * {
    margin: 0;
    padding: 1rem 1vw
}

#topBar a,a {
    text-decoration: none
}

#topBar a:hover,#topC * {
    background-color: var(--btColor)
}

.middleSection p a:hover {
    background-color: var(--c-green01)
}

#topC * {
    border: 0;
    font-size: small;
    height: 2rem;
    text-align: center
}

#topC input {
    border-bottom: 1px solid;
    width: 100%
}

#topC *,#topC button,#topC input,.middleSection p a {
    background-color: transparent
}

#spotlight {
    height: 240px;
    overflow: hidden;
    position: relative
}

#mainBlock, #mainBlock2 {
    /*     animation: a var(--animTime) linear 0s infinite; */
    position: absolute
}

#mainBlock {
    background-image: url(/images/newLayout/loopbgA.gif);
    height: 480px;
    width: 100vw
}

#mainBlock2,#mainBlock3 {
    height: 480px;
    overflow: hidden;
    width: 100vw
}

#mainBlock2 {
    background-image: url(/images/newLayout/loopbgB.gif);
    background-position: 50% 0px;
    background-repeat: repeat-y;
    margin: 0 auto;
    margin-left: 190px;
    /* opacity: .5; */
}

#mainBlock3 {
    display: flex;
    margin: 0;
    position: absolute;
    z-index: 1
}

#mainBlock3 .a,#mainBlock3 .c {
    background-color: var(--c-gray01);
    height: 480px;
    opacity: .9;
    width: calc(100vw - 500px);
    z-index: 1
}

#mainBlock3 .b {
    background-color: var(--c-green02);
    border-radius: 100vw;
    height: 480px;
    opacity: .5;
    transform: scaleX(10);
    width: 1000px;
    z-index: 2
}

#walkingHero {
    height: 101px;
    position: relative;
    width: 67px;
    z-index: 3
}

#spotText,.middleSection {
    display: flex;
    position: relative
}

#spotText {
    align-items: center;
    color: var(--c-black01);
    top: 6.5%;
    z-index: 2
}

#spotText h1 {
    background: #fffc;
    font-weight: 400;
    margin: 1rem;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap
}

#spotTitle {
    font-size: 2.5rem;
    font-weight: 700
}

#spotTitle:before {
    content: "RETRO"
}

#spotTitle:after {
    color: var(--c-green02);
    content: "RPG"
}

.middleSection a,body {
    margin: 0
}

.middleSection,footer {
    background-color: var(--c-gray01)
}

.middleSection {
    clip-path: polygon(-100% -100%,100% -100%,100% 70%,0 70%);
    text-align: center;
    z-index: 4
}

.middleSection * {
    margin: .2rem
}

.middleSection .container {
    align-items: center;
    border-radius: 10px;
    display: flex;
    max-width: 480px;
    padding: 10px;
    transform: translateY(-3rem)
}

.middleSection p {
    background-color: var(--c-green02)!important;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    line-height: 2;
    margin: .8rem auto 0;
    max-width: 20rem
}

.middleSection p a {
    color: var(--c-white01)!important;
    font-size: smaller;
    font-weight: 400;
    margin: 0 .2rem;
    padding: inherit;
    padding-inline: 5px
}

.gallery-container {
    margin: -2rem auto;
    max-width: 80vw;
    padding: 0 0 2rem
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0
}

.gallery-item {
    background-color: var(--c-green02);
    border-radius: 10px;
    box-shadow: .3rem .4rem .4rem rgba(0,0,0,.4);
    flex: 1 0 24rem;
    flex-basis: 200px;
    margin: 1.5rem;
    min-height: 14rem;
    overflow: hidden
}

.gallery * {
    align-text: center;
    color: var(--c-white01)
}

.gallery-item #txt {
    display: block;
    font-size: small;
    margin: 0!important;
    padding: 0 1.5rem;
    text-align: center;
    width: 100%
}

.gallery .gamesOverlay {
    margin: auto;
    position: absolute
}

.gallery-content {
    background-color: var(--c-green04);
    display: block;
    object-fit: cover;
    width: 100%
}

.mainSubMenu {
    cursor: pointer;
    display: inline-block;
    padding: 0!important;
    position: relative;
    text-align: center
}

.mainSubMenu .menuItems {
    background-color: var(--c-green03)!important;
    display: none!important;
    margin: 0;
    padding: 0!important;
    position: absolute;
    width: 2px;
    z-index: 6!important
}

.mainSubMenu .menuItems a {
    background-color: var(--c-gray02)!important;
    color: #000;
    display: block!important;
    margin: 0!important;
    min-width: 8.6rem;
    text-decoration: none
}

.mainSubMenu:hover .menuItems {
    display: block!important
}

.dummy {
    opacity: 0;
    pointer-events: none
}

.mainSubMenu:hover>div {
    background-color: var(--c-gray02)!important;
    color: var(--c-green03)!important
}

footer {
    padding: 5px
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%
}

.footerColumn {
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

.footerColumn h3 {
    font-size: small;
    font-weight: 700;
    margin: 10px 0
}

.footerColumn ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.footerColumn li {
    margin-bottom: 5px
}

.footerColumn a {
    color: #fff;
    font-size: .8em;
    text-decoration: none
}

.footerColumn a:hover {
    color: #ccc
}

.sep {
    border-bottom: 1px solid;
    display: flex;
    margin: 15px 0 20px;
    opacity: .1;
    width: 100vw
}