#!/usr/bin/env ruby

preprocess do
  check_webpack_js
  write_ad_files
end

ignore '/blog/**/*' # TODO

# all pages
compile '/**/*.{html,md}' do
  filter :erubi
  filter :kramdown, auto_ids: false if item[:extension] == 'md'
  filter :colorize_syntax, :default_colorizer => :rouge
  layout '/default.*'
  filter :typogruby # enhance quotes and such
  filter :tidy if @config[:prod] # pretty-print, find errors

  # section home or toplevel page(404)
  if item.identifier =~ '**/index.*' || item.identifier =~ '/*.{html,md}'
    write ext: ".html"
  else # every other page
    write item.identifier.without_ext + '/index.html'
  end
end

ignore '/css/{vendor,bits}/*'
compile '/css/*.scss' do
  if @config[:prod]
    filter :dart_sass, :style => :compressed
    write item.identifier.without_ext + '-' + asset_hash(item) + '.min.css'
  else
    filter :dart_sass, :style => :expanded
    write item.identifier.without_ext + '.css'
  end
end

compile '/js/*.js' do
  filter :erubi
  write item.identifier
end

compile '/{sitemap.xml,robots.txt}' do
  filter :erubi
  write item.identifier
end

# copy the rest over
passthrough '/**/*'

layout '/**/*.slim', :slim, {
  pretty: (@config[:prod] ? false : true),
  sort_attrs: false
}
layout '/**/*.html', :erubi
