#!/usr/bin/env ruby

preprocess do
  hide_items_from_sitemap
end

compile '/**/*.html' do
  layout '/default.*'
  filter :erb
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

compile '/**/*.scss' do
  filter :sass, :syntax => :scss
  write item.identifier.without_ext + '.css'
end

compile '/sitemap.xml' do
  filter :erb
  write '/sitemap.xml'
end

compile '/htaccess.txt' do
  filter :erb
  write '/.htaccess'
end

route '/**/*.{html,md}' do
  # homepage
  if item.identifier =~ '/index.*'
    '/index.html'
  # error page
  elsif item.identifier =~ '/404.html'
    '/404.html'
  # every other page
  else
    item.identifier.without_ext + '/index.html'
  end
end

passthrough '/**/*'

layout '/**/*', :erb
