---
section: player
title: EasyRPG Player
---
<% # The following variables can be quite handy ;)
	ver="0.6.1"
	oldver="0.6.0"
%>
<div class="info">
	<h2>Download EasyRPG Player</h2>
	<h3>EasyRPG Player version <%= ver %> "Surprise Attack"</h3>
	<p>Release date: 2019-07-25.
		<a href="https://blog.easyrpg.org/2019/07/easyrpg-player-0-6-1-surprise-attack/">
			Release notes</a>,
		changes since <%= oldver %>:
		<a href="https://github.com/EasyRPG/Player/compare/<%= oldver + "..." + ver %>">Player</a>,
		<a href="https://github.com/EasyRPG/liblcf/compare/<%= oldver + "..." + ver %>">liblcf</a>.
	</p>

	<div id="downloadtabs-release" class='tab-container'>
		<ul class='tabbar'>
			<li class='tab'><a href="#release-windows">Windows</a></li>
			<li class='tab'><a href="#release-linux">GNU/Linux</a></li>
			<li class='tab'><a href="#release-macosx">OS X</a></li>
			<li class='tab'><a href="#release-android">Android</a></li>
			<li class='tab'><a href="#release-other">Other</a></li>
			<li class='tab'><a href="#release-source">Source Code</a></li>
		</ul>
		<div class='panel-container'>
			<div id="release-windows">
				<h4>Windows</h4>
				<p>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRPG_Player-<%= ver %>-Windows.zip">Windows 32 bit executable</a>,
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRPG_Player-<%= ver %>-Windows-x64.zip">Windows 64 bit executable</a>
					<br>
					These are meant as a drop-in replacement for the RPG_RT.exe.
					Requires at least Windows Vista and the <a href="https://www.microsoft.com/en-us/download/details.aspx?id=48145">Visual Studio C++ 2015 Runtime</a> installed.
				</p>
			</div>
			<div id="release-linux">
				<h4>GNU/Linux</h4>
				<p>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/easyrpg-player-<%= ver %>-linux.tar.gz">Linux amd64 executable</a>
					<br>
					This is a debug build, it is not optimized and mainly used to find bugs. You likely want to
					<a href="https://wiki.easyrpg.org/development/compiling/player/autotools">build Player from source code</a> for faster game play.
				</p>
				<p>
					<a id="obs-link" href="https://software.opensuse.org/download.html?project=home%3Aeasyrpg&amp;package=easyrpg-player&amp;bcolor=ffffff&amp;fcolor=000000&amp;hcolor=3C8025">Arch Linux, Debian, Ubuntu, Fedora and openSUSE packages</a>
					<br>
					These are provided by us on the Open Build Service.
				</p>
			</div>
			<div id="release-macosx">
				<h4>OS X</h4>
				<p>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/easyrpg-player-<%= ver %>-macos.tar.gz">OS X 64-bit (Intel) executable</a>
				</p>
				<p>
					Player is also available on <a href="http://brew.sh">homebrew</a>, use this command in your terminal:
					<br>
					<code>
						brew install easyrpg-player
					</code>
				</p>
			</div>
			<div id="release-android">
				<h4>Android</h4>
				<p>
					The App is hosted on <a href="https://play.google.com/store/apps/details?id=org.easyrpg.player">Google Play</a>.
					<br>
					You can also scan this QRCode with your device to access it directly:
					<br>
					<img src="/images/player/qrcode.png" alt="Google Play QRCode"/>
					<br>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRpgPlayerActivity-<%= ver %>.apk">Locally hosted App (.apk)</a>
					<br>
					Installing from "unknown sources" must be activated in the Android settings.
				</p>
			</div>
			<div id="release-other">
				<h4>Other contributed ports</h4>
				<p>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRPG_Player-<%= ver %>-Wii.zip">Wii (.dol)</a>
					<br>
					This needs a homebrew-enabled console with "Homebrew Channel" installed. Games are searched in the same directory as the dol.
				</p>
				<p>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRPG_Player-<%= ver %>-3ds.zip">Nintendo 3DS (3dsx)</a>,
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRPG_Player-<%= ver %>-3ds.cia">Nintendo 3DS (CIA)</a>
					<br>
					This needs a homebrew-enabled console with "Homebrew Launcher" (for 3dsx) or a custom firmware (for CIA) installed. The CIA searches for games in sdcard:/3ds/easyrpg-player
					<br>
					Originally contributed by <a href="https://rinnegatamante.it/" title="Website of Rinnegatamante">Rinnegatamante</a>.
				</p>
				<p>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRPG_Player-<%= ver %>-Vita.vpk">PlayStation Vita</a>
					<br>
					This needs a homebrew-enabled console by running the HENkaku exploit. Games are searched in ux0:/data/easyrpg-player.
					<br>
					Contributed by <a href="https://rinnegatamante.it/" title="Website of Rinnegatamante">Rinnegatamante</a>.
				</p>
				<p>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRPG_Player-<%= ver %>-Switch.zip">Nintendo Switch</a>
					<br>
					This needs a homebrew-enabled console with "Homebrew Launcher" installed. Games are searched in the same directory as the nro.
					<br>
					Contributed by <a href="https://rinnegatamante.it/" title="Website of Rinnegatamante">Rinnegatamante</a>.
				</p>
				<p>
					<a href="https://easyrpg.org/downloads/player/0.5.3/EasyRPG_Player-0.5.3-Windows-arm.zip">Windows RT (ARM)</a> (0.5.3)
					<br>
					This needs a device running in test-signing mode. 0.5.3 is the last release on this deprecated platform.
				</p>
				<p>
					<a href="https://easyrpg.org/downloads/player/<%= ver %>/EasyRPG_Player-<%= ver %>-GCW-Zero.opk">GCW Zero (.opk)</a>
				</p>
				<p>
					<a href="https://repo.openpandora.org/?page=detail&amp;app=easyrpgplayer_ptitseb">Open Pandora (.pnd)</a>
					<br>
					Maintained by ptitSeb in the OpenPandora repository.
				</p>
				<p>
					<a href="https://bszili.morphos.me/">AROS</a> (0.6.0)
					<br>
					Maintained by bszili on his AmigaOS ports website.
				</p>
				<p>
					<a href="https://bszili.morphos.me/">AmigaOS4</a> (0.6.0)
					<br>
					Maintained by bszili on his AmigaOS ports website.
				</p>
				<p>
					<a href="https://bszili.morphos.me/">MorphOS</a> (0.6.0)
					<br>
					Maintained by bszili on his AmigaOS ports website.
				</p>
			</div>
			<div id="release-source">
				<h4>Source Code</h4>
				<a href="https://easyrpg.org/downloads/player/<%= ver %>/easyrpg-player-<%= ver %>.tar.gz">Player source package</a>
				<br>
				<a href="https://easyrpg.org/downloads/player/<%= ver %>/liblcf-<%= ver %>.tar.gz">liblcf source package</a>
			</div>
		</div>
	</div>

	<h3>EasyRPG Player continuous builds</h3>
	<p>
		Changes since <%= ver %>:
		<a href="https://github.com/EasyRPG/Player/compare/<%= ver %>...HEAD">Player</a>,
		<a href="https://github.com/EasyRPG/liblcf/compare/<%= ver %>...HEAD">liblcf</a>
	</p>
	<p>
		Disclaimer: these are the newest builds, representing the current development state.
		<br>
		However, they might contain new bugs, so they are not recommended for general use.
	</p>

	<div id="downloadtabs-snapshot" class='tab-container'>
		<ul class='tabbar'>
			<li class='tab'><a href="#snapshot-windows">Windows</a></li>
			<li class='tab'><a href="#snapshot-linux">GNU/Linux</a></li>
			<li class='tab'><a href="#snapshot-macosx">OS X</a></li>
			<li class='tab'><a href="#snapshot-android">Android</a></li>
			<li class='tab'><a href="#snapshot-other">Other</a></li>
			<li class='tab'><a href="#snapshot-source">Source Code</a></li>
		</ul>
		<div class='panel-container'>
			<div id="snapshot-windows">
				<h4>Windows</h4>
				<p>
					<a href="https://ci.easyrpg.org/job/player-win32/lastSuccessfulBuild/artifact/bin/easyrpg_windows.zip">Windows 32 bit executable</a>,
					<a href="https://ci.easyrpg.org/job/player-win64/lastSuccessfulBuild/artifact/bin/easyrpg_windows_x64.zip">Windows 64 bit executable</a>
					<br>
					These are meant as a drop-in replacement for the RPG_RT.exe.
					Requires at least Windows Vista and the <a href="https://www.microsoft.com/en-us/download/details.aspx?id=48145">Visual Studio C++ 2015 Runtime</a>.
				</p>
			</div>
			<div id="snapshot-linux">
				<h4>GNU/Linux</h4>
				<p>
					<a href="https://ci.easyrpg.org/job/player-linux/lastSuccessfulBuild/artifact/easyrpg-player-static.tar.gz">Linux amd64 executable</a>
					<br>
					This is a debug build, it is not optimized and mainly used to find bugs. You likely want to
					<a href="https://wiki.easyrpg.org/development/compiling/player/autotools">build Player from source code</a> for faster game play.
				</p>
			</div>
			<div id="snapshot-macosx">
				<h4>OS X</h4>
				<p>
					<a href="https://ci.easyrpg.org/job/player-macos/lastSuccessfulBuild/artifact/easyrpg-player-macos.tar.gz">OS X 64-bit (Intel) executable</a>
				</p>
			</div>
			<div id="snapshot-android">
				<h4>Android</h4>
				<p>
					<a href="https://ci.easyrpg.org/job/player-android/lastSuccessfulBuild/artifact/builds/android/app/build/outputs/apk/EasyRpgPlayerActivity.apk">Locally hosted App (.apk)</a>
					<br>
					Installing from "unknown sources" must be activated in the Android settings.
				</p>
			</div>
			<div id="snapshot-other">
				<h4>Other contributed ports</h4>
				<p>
					<a href="https://ci.easyrpg.org/job/player-wii/lastSuccessfulBuild/artifact/builds/wii/easyrpg_wii.zip">Wii (.dol)</a>
					<br>
					This needs a homebrew-enabled console with "Homebrew Channel" installed. Games are searched in the same directory as the dol.
				</p>
				<p>
					<a href="https://ci.easyrpg.org/job/player-3ds/lastSuccessfulBuild/artifact/builds/3ds/easyrpg-player-3ds.zip">Nintendo 3DS (3dsx)</a>,
					<a href="https://ci.easyrpg.org/job/player-3ds/lastSuccessfulBuild/artifact/builds/3ds/easyrpg-player.cia">Nintendo 3DS (CIA)</a>
					<br>
					This needs a homebrew-enabled console with "Homebrew Launcher" (for 3dsx) or a custom firmware (for CIA) installed. The CIA searches for games in sdcard:/3ds/easyrpg-player.
					<br>
					Originally contributed by <a href="https://rinnegatamante.it/" title="Website of Rinnegatamante">Rinnegatamante</a>.
				</p>
				<p>
					<a href="https://ci.easyrpg.org/job/player-vita/lastSuccessfulBuild/artifact/builds/psvita/EasyRPG.vpk">PlayStation Vita</a>
					<br>
					This needs a homebrew-enabled console by running the HENkaku exploit. Games are searched in ux0:/data/easyrpg-player.
					<br>
					Contributed by <a href="https://rinnegatamante.it/" title="Website of Rinnegatamante">Rinnegatamante</a>.
				</p>
				<p>
					<a href="https://ci.easyrpg.org/job/player-switch/lastSuccessfulBuild/artifact/builds/switch/easyrpg-player-switch.zip">Nintendo Switch</a>
					<br>
					This needs a homebrew-enabled console with "Homebrew Launcher" installed. Games are searched in the same directory as the nro.
					<br>
					Contributed by <a href="https://rinnegatamante.it/" title="Website of Rinnegatamante">Rinnegatamante</a>.
				</p>
				<p>
					<a href="https://ci.easyrpg.org/job/player-gcw0/lastSuccessfulBuild/artifact/builds/opendingux/gcw-zero/EasyRPG.opk">GCW Zero (.opk)</a>
				</p>
			</div>
			<div id="snapshot-source">
				<h4>Source Code</h4>
				<a href="https://ci.easyrpg.org/job/player-linux/lastSuccessfulBuild/artifact/easyrpg-player-<%= ver %>.tar.gz">Player source package</a>
				<br>
				<a href="https://ci.easyrpg.org/job/liblcf-linux/lastSuccessfulBuild/artifact/liblcf-<%= ver %>.tar.gz">liblcf source package</a>
			</div>
		</div>
	</div>

	<h2>Code repository</h2>
	<p>
		The <a href="https://github.com/EasyRPG/Player">Player</a> and
		<a href="https://github.com/EasyRPG/liblcf">liblcf</a> repositories are available at GitHub.
	</p>
</div>

<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="/js/vendor/jquery.easytabs.min.js"></script>
<script src="/js/download-pages.js"></script>
