doctype 5
html lang="en"
  head
    meta charset="utf-8"
    - if @item[:title]
      title EasyRPG: #{@item[:title]}
    - else
      title EasyRPG
    meta name="generator" content="Nanoc #{Nanoc::VERSION}"
    meta name="description" content="Free and open source role playing game interpreter and editor compatible with RPG Maker 2000 and 2003"
    meta name="viewport" content="width=device-width"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    == render '/partials/icons.*'
    link rel="stylesheet" href="#{@items['/css/easyrpg.*'].path}"
  body
    #header
      .maxwidth
        == render '/partials/topnav.*'
    / front page gets special treatment
    - if @item[:has_spotlight]
      == yield
    - else
      #spotlight
        .maxwidth
          #section-title
            h1 = @item[:title]
          .clear
      #content
        .maxwidth
          == render '/partials/menu.*'
          == yield
    == render '/partials/footer.*'
