<footer><br>
  <div class="footerLinks">
    <div class="footerColumn">
      <h3>Products</h3>
      <ul>
        <li><a href=<%= $links[:products][:overview] %>>Overview</a></li>
        <li><a href=<%= $links[:products][:player]   %>>EasyRPG Player</a></li>
        <li><a href=<%= $links[:products][:editor]   %>>EasyRPG Editor</a></li>
        <li><a href=<%= $links[:products][:rtp]      %>>OpenRTP</a></li>
        <li><a href=<%= $links[:products][:tools]    %>>Utility tools</a></li>
      </ul>
    </div>
    <div class="footerColumn">
      <h3>Downloads</h3>
      <ul>
        <li><a href=<%= $links[:downloads][:stable]  %>>Stable Builds</a></li>
        <li><a href=<%= $links[:downloads][:nightly] %>>Nightly Builds</a></li>
        <li><a href=<%= $links[:downloads][:source]  %>>Source Code</a></li>
      </ul>
    </div>
    <div class="footerColumn">
      <h3>Community</h3>
      <ul>
        <li><a href=<%= $links[:community][:board]     %>>Discussion Board</a></li>
        <li><a href=<%= $links[:community][:blog]      %>>Blog</a></li>
        <li><a href=<%= $links[:community][:twitter]   %>>Twitter</a></li>
        <li><a href=<%= $links[:community][:instagram] %>>Instagram</a></li>
        <li><a href=<%= $links[:community][:facebook]  %>>Facebook</a></li>
        <li><a href=<%= $links[:community][:wiki]      %>>Wiki</a></li>
      </ul>
    </div>
    <div class="footerColumn">
      <h3>Contact</h3>
      <ul>
        <li><a href=<%= $links[:contact][:discord] %>>Discord Server</a></li>
        <li><a href=<%= $links[:contact][:matrix]  %>>Matrix</a></li>
        <li><a href=<%= $links[:contact][:irc]     %>>IRC</a></li>
        <li><a href=<%= $links[:contact][:email]   %>>E-mail</a></li>
      </ul>
    </div>

  </div>
 
  <small class="footerLinks"> <div class="sep"></div>
<div class="footerColumn">
© 2007-<%= $links[:date] %> The EasyRPG project. Some rights reserved
</div>
</small>
<br>
</footer>