<footer><br>
  <div class="footerLinks">
    <div class="footerColumn">
      <h3>Products</h3>
      <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">EasyRPG Player</a></li>
        <li><a href="#">EasyRPG Editor</a></li>
        <li><a href="#">OpenRTP</a></li>
        <li><a href="#">Utility tools</a></li>
      </ul>
    </div>
    <div class="footerColumn">
      <h3>Downloads</h3>
      <ul>
        <li><a href="#">Stable Builds</a></li>
        <li><a href="#">Nightly Builds</a></li>
        <li><a href="#">Source Code</a></li>
      </ul>
    </div>
    <div class="footerColumn">
      <h3>Community</h3>
      <ul>
        <li><a href="#">Discussion Board</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Wiki</a></li>
      </ul>
    </div>
    <div class="footerColumn">
      <h3>Contact</h3>
      <ul>
        <li><a href="#">Discord Server</a></li>
        <li><a href="#">Matrix</a></li>
        <li><a href="#">IRC</a></li>
        <li><a href="#">E-mail</a></li>
      </ul>
    </div>

  </div>
 
  <small class="footerLinks"> <div class="sep"></div>
<div class="footerColumn">
© 2007-2022 The EasyRPG project. Some rights reserved
</div>
</small>
<br>
</footer>