<div id="topBar">
  <div id="spacer"></div>
  <a id="topA" href="#"><img id="logo" src="/images/newLayout/logo.svg">
    <h1 class="logoText"></h1>
  </a>
  <div id="topB">
    <div class="mainSubMenu">
      <div>
        Products
      </div>
      <div class="menuItems">
        <a class="dummy"></a><a href="#">Overview</a><a href="#">EasyRPG Player</a><a href="#">EasyRPG Editor</a><a href="#">OpenRTP</a><a href="#">Utility tools</a>
      </div>
    </div>
    <div class="mainSubMenu">
      <div>
        Downloads
      </div>
      <div class="menuItems">
        <a class="dummy"></a><a href="#">Stable Builds</a><a href="#">Nightly Builds</a><a href="#">Source Code</a>
      </div>
    </div>
    <div class="mainSubMenu">
      <div>
        Community
      </div>
      <div class="menuItems">
        <a class="dummy"></a><a href="#">Discussion Board</a><a href="#">Blog</a><a href="#">Twitter</a><a href="#">Instagram</a><a href="#">Facebook</a><a href="#">Wiki</a>
      </div>
    </div>
    <div class="mainSubMenu">
      <div>
        Contact
      </div>
      <div class="menuItems">
        <a class="dummy"></a><a href="#">Discord Server</a><a href="#">Matrix</a><a href="#">IRC</a><a href="#">E-mail</a>
      </div>
    </div>
  </div>
  <div id="topC">
    <div class="search-container">
      <form action="#">
        <input type="text" placeholder="Search" name="search"><button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div id="spacer"></div>
</div>