<div id="topBar">
  <div id="spacer"></div>
  <a id="topA" href="/"><img id="logo" src="/images/newLayout/logo.svg">
    <h1 class="logoText"></h1>
  </a>
  <div id="topB">
    <div class="mainSubMenu">
      <div>
        Products
      </div>
      <div class="menuItems">
        <a class="dummy"></a>
<a  href=<%= $links[:products][:overview] %>>Overview</a>
<a  href=<%= $links[:products][:player]   %>>EasyRPG Player</a>
<a  href=<%= $links[:products][:editor]   %>>EasyRPG Editor</a>
<a  href=<%= $links[:products][:rtp]      %>>OpenRTP</a>
<a  href=<%= $links[:products][:tools]    %>>Utility tools</a>
      </div>
    </div>
    <div class="mainSubMenu">
      <div>
        Downloads
      </div>
      <div class="menuItems">
        <a class="dummy"></a>
<a href=<%= $links[:downloads][:stable]  %>>Stable Builds</a>
<a href=<%= $links[:downloads][:nightly] %>>Nightly Builds</a>
<a href=<%= $links[:downloads][:source]  %>>Source Code</a>
      </div>
    </div>
    <div class="mainSubMenu">
      <div>
        Community
      </div>
      <div class="menuItems">
        <a class="dummy"></a>
<a href=<%= $links[:community][:board]     %>>Discussion Board</a>
<a href=<%= $links[:community][:blog]      %>>Blog</a>
<a href=<%= $links[:community][:twitter]   %>>Twitter</a>
<a href=<%= $links[:community][:instagram] %>>Instagram</a>
<a href=<%= $links[:community][:facebook]  %>>Facebook</a>
<a href=<%= $links[:community][:wiki]      %>>Wiki</a>
      </div>
    </div>
    <div class="mainSubMenu">
      <div>
        Contact
      </div>
      <div class="menuItems">
        <a class="dummy"></a>
<a href=<%= $links[:contact][:discord] %>>Discord Server</a>
<a href=<%= $links[:contact][:matrix]  %>>Matrix</a>
<a href=<%= $links[:contact][:irc]     %>>IRC</a>
<a href=<%= $links[:contact][:email]   %>>E-mail</a>
      </div>
    </div>
  </div>
  <div id="topC">
    <div class="search-container">
      <form action="#">
        <input type="text" placeholder="Search" name="search"><button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div id="spacer"></div>
</div>