<%
# To be replaced by a filesystem helper, that generates links from actual files
# in content/<section> folder
%>
<ul class="menu">
  <li><%= link_to_upper_page("&#x25B2;") %></li>
<% if @section == "contribute" %>
  <li><%= link_to_unless_current("Programmers", "/contribute/programmers/") %></li>
  <li><%= link_to_unless_current("Artists", "/contribute/artists/") %></li>
  <li><%= link_to_unless_current("Testers", "/contribute/testers/") %></li>
  <li><%= link_to_unless_current("Translators", "/contribute/translators/") %></li>
<% else %>
  <% if @section != "tools" %>
  <li><%= link_to_unless_current("Progress", "/" + @section + "/progress/") %></li>
  <% end %>
  <li><%= link_to_unless_current("Downloads", "/" + @section + "/downloads/") %></li>
  <li><%= link_to_unless_current("Media", "/" + @section + "/media/") %></li>
<% end %>
</ul>