<div id="spotlight">
  <div id="mainBlock"></div>
  <div id="mainBlock2"></div>
  <div id="mainBlock3">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div id="spotText">
    <div id="spacer"></div>
    <h1>
      The Ultimate 
      <div id="spotTitle"></div>
      Game Engine 
    </h1>
    <img id="walkingHero" src="/images/newLayout/aina.gif">
    <div id="spacer"></div>
  </div>
</div>
<div class="middleSection">
  <div id="spacer"></div>
  <div class="container">
    <img src="/images/newLayout/poweredLogo.png">
    <h5>
      <a class="logoText"></a> is a community project aimed at developing an open source game engine that is compatible with RPG Maker 2000/2003 games. 
      <p>
        <a href="#a">About</a><a href="#b">Player</a><a href="#">Editor</a><a href="#">RTP</a><a href="#">Tools</a>
      </p>
    </h5>
  </div>
  <div id="spacer"></div>
</div>