@charset "utf-8";

// global variables → color scheme
$normalgreen: #66A352;
$backgroundgreen: #3C8025;
$lightgrey: #F5F5F5;
$darkgrey: #202020;

@media screen {

	/* Main */
	body {
		background-color: $darkgrey;
		font-family: Ubuntu, "Droid Sans", "Trebuchet MS", sans-serif;
		font-size: 0.875em; /* 14px */
		line-height: 1.4286em; /* 20px */
		margin: 0;
	}

	h1 {
		font-size: 2.2858em; /* 32px */
		line-height: 1.25em; /* 40px */
	}

	a {
		color: green;

		img {
			border-width: 0;
		}
	}

	iframe {
		border: 0;
	}

	code {
		font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	}

	pre {
		font-family: "Courier 10 Pitch", Courier, monospace;
	}

	code, pre {
		font-size: inherit;
		white-space: pre;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -o-pre-wrap;
		margin: 0;
	}

	p > code, li > code, dd > code, td > code, {
		background: #faf8f0;
		word-wrap: break-word;
		box-decoration-break: clone;
		padding: .1rem .3rem .2rem;
	}

	div.highlight {
		display: block;
		background: #faf8f0;
		max-width: 100%;
		min-width: 100px;
		overflow-x: auto;
		padding: 0.5em 1em;
		margin: 0;
		border: 1px solid #bebab0;
		border-radius: .5rem;
	}

	table {
		border-collapse: collapse;
		border: 2px solid #999;
	}

	th {
		border: 1px solid #999;
		border-bottom: 2px solid #999;
		padding: 0.2em 0.8em;
	}

	td {
		border: 1px solid #999;
		padding: 0.2em 0.8em;
	}

	/* Header */
	#header {
		background-color: $darkgrey;
		color: #CCFFCC;
		min-height: 50px;
		position: relative;
		z-index: 1;
		text-align: right;

		h1 {
			float: left;
			margin: 0;
			text-align: left;

			a {
				display: block;
				padding: 6px;
				background-image: url(/images/easyrpg-logo.png);
				background-repeat: no-repeat;
				background-position: center;
				text-indent: -200em;
				overflow: hidden;
				width: 140px;
				height: 38px;
			}
		}

		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			white-space: nowrap;

			li {
				display: inline;
				line-height: 50px;
				vertical-align: middle;

				a {
					color: $lightgrey;
					text-decoration: none;
					font-size: 1.1429em;
					padding: 0.98em 0.39em;
				}

				&:hover {
					color: $normalgreen;
				}
			}
		}
	}

	/* Spotlight */
	#spotlight {
		background-color: $backgroundgreen;
		color: white;
		text-align: center;
		padding: 1.5em 0;

		img {
			vertical-align: middle;
		}

		#description {
			display: inline-block;
			padding: 0 1.2em;
			max-width: 383px;
			vertical-align: middle;

			h1 {
				text-align: center;
			}

			p {
				font-size: 1.1429em;
				line-height: 1.5em;
				text-align: justify;

				&#learn-more {
					text-align: center;

					a {
						display: inline-block;
						padding: 0.5em 1.5em;
						background-color: #303030;
						color: $lightgrey;
						text-decoration: none;
						border-bottom: 0.2em solid $darkgrey;

						&:hover {
							background-color: $darkgrey;
						}
					}
				}
			}
		}

		#section-title h1 {
			text-align: left;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
	}

	/* Content */
	#content {
		background-color: $lightgrey;
		padding: 1px 0;

		ul {
			margin-top: -0.5em;
			padding-left: 2em;

			ul {
				margin-top: 0;
				padding-left: 1.5em;
			}

			&.menu {
				// menu height
				$mheight: 40px;

				background-color: $darkgrey;
				margin-top: -1px;
				margin-bottom: 0;
				padding: 0 0.5em;
				display: inline-block;
				text-align: center;

				li {
					display: inline;
					line-height: $mheight;
					vertical-align: middle;
					white-space: nowrap;

					a {
						display: inline-block;
						height: $mheight;
						padding: 0 1em;
						color: $lightgrey;
						text-decoration: none;

						&:hover {
							color: $normalgreen;
						}
					}

					span.active {
						display: inline-block;
						height: $mheight;
						padding: 0 1em;
						color: $normalgreen;
						text-decoration: none;
					}
				}
			}
		}
	}

	/* Search box and results */
	form#search-form {
		margin: 1em 0;

		input {
			border: 2px solid $normalgreen;
			margin: 4px 2px;
			padding: 10px 12px;
			border-radius: 5px;
		}
		input[type=text] {
			border-collapse: collapse;
			width: 300px;
		}
		input[type=submit] {
			background-color: $lightgrey;
			color: black;
			cursor: pointer;
		}
	}
	ul#search-results {
		// entry height
		$eheight: 32px;

		margin-top: -1px;
		margin-bottom: 0;
		padding: 0 0.5em;

		li {
			display: inline-block;
			line-height: $eheight;
			vertical-align: middle;
			white-space: nowrap;

			a {
				display: inline-block;
				height: $eheight;
				padding: 0 1em;
				text-decoration: none;

				&:hover {
					color: $normalgreen;
				}
			}
		}
	}

	/* Footer */
	#footer {
		font-size: 11px;
		text-align: center;
		padding: 0.5em;

		a {
			color: $lightgrey;
			text-decoration: none;

			&:hover {
				color: $normalgreen;
			}
		}
	}

	.features {
		text-align: center;

		.feature {
			display: inline-block;
			max-width: 317px;
			margin: 1em 0;
			text-align: left;
			vertical-align: top;

			h2 {
				text-align: center;
			}

			h2, p {
				padding: 0 1em;
			}

			// image height
			$iheight: 165px;

			&#cross-platform h2 {
				padding-bottom: $iheight;
				background: url(/images/cross-platform.png) center bottom no-repeat;
			}

			&#rpgmaker-compatible h2 {
				padding-bottom: $iheight;
				background: url(/images/rpgmaker-compatible.png) center 75% no-repeat;
			}

			&#get-involved h2 {
				padding-bottom: $iheight;
				background: url(/images/get-involved.png) center 75% no-repeat;
			}
		}
	}

	.info {
		margin: 2em 1em;

		h2 {
			margin-top: 0;
		}

		h3 {
			margin-bottom: 0em;
		}

		#introduction, #goals, #contribute {
			display: block;
			width: 128px;
			height: 128px;
			float: right;
		}

		#introduction {
			background: url(/images/easyrpg-logo-128.png) right top no-repeat;
		}

		#goals {
			background: url(/images/goals.png) right top no-repeat;
		}

		#contribute {
			background: url(/images/contribute.png) right top no-repeat;
		}
	}

	.maxwidth img, .maxwidth iframe, .maxwidth video {
		max-width: 100%;
	}

	/* Misc */
	.maxwidth {
		max-width: 980px;
		margin: 0 auto;
	}

	.clear {
		clear: both;
	}

	/* Download page tabs */
	.tab-container {
		.panel-container {
			background: #fff;
			border: solid #666 1px;
			padding: 10px;
			border-radius: 4px;
			margin-bottom: 10px;
		}

		ul.tabbar {
			margin: 0;
			padding: 0;

			li.tab {
				display: inline-block;
				background: #D1D1D1 linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%);
				margin: 0 -5px;
				border: solid 1px #999;
				border-bottom: none;
				border-radius: 4px 4px 0 0;
				padding: 0 10px;

				&.active {
					background: #fff;
					padding-top: 6px;
					position: relative;
					top: 1px;
					border-color: #666;
				}

				a {
					font-size: 14px;
					line-height: 2em;
					display: block;
					padding: 0 10px;
					outline: none;
					text-decoration: none;
					color: #333;

					&:hover {
						text-decoration: underline;
					}

					&.active {
						font-weight: bold;
						color: #000;
					}
				}
			}
		}
	}

}
